@media only screen and (max-width: 600px){
  body{

  }
}

@import url("bootstrap.css");

body{
  background-image: url("../images/joint1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
