@media only screen and (max-width: 600px){
  body{

  }
}
@import url("bootstrap.css");

body{
  background-image: url("../images/pizza-maker.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#img1{
  width: 220px;
  height: 220px;
  padding-top: 50px;
  padding-left: 50px;
  position: fixed;
  top: 0;
}
#nav-bar{
  float: right;
  padding-top: 5%;
  padding-right: 2%;
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  background: rgba(0, 0, 0, 0)
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

li a:hover {
  color: #996515;
}
#form1{
  color: #ECF0F1;
  margin-left: 60%;
width: max-content;
margin-top: 15%;
text-align: center;
}
