@media only screen and (max-width: 600px){
  body{

  }
}

@import url("bootstrap.css");

body{
  background-image: url("../images/joint1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#img1{
  width: 220px;
  height: 220px;
  padding-top: 50px;
  padding-left: 50px;
  position: fixed;
  top: 0;
}
