@media only screen and (max-width: 600px){
  body{

  }
}
@import url("bootstrap.css");

body{
  background-image: url("../images/pizza-maker.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
